html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
	width: 100%;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote::before, blockquote::after,
q::before, q::after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Do not write a css rule above here! Use the space below  */


/* Write your css below here */


*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
body{
    width: 100%;
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #e8ebee;
    grid-template-columns: 1fr 1fr 1fr;
}

.material-icons{
	align-self: center;
	color: orangered;
	display: none;
}

.section-new{
	display: flex;
	background-color: blue;
	width: 100vw;
	height: 100vh;
	margin-top: 70px;
}

.sectionimage{
	flex: 1;
	padding: 5px;
}
.sectionimage img{
	height: 100%;
	width: 100%;
}

.sectiontext{
	flex: 1;
	padding: 5px;
}

.sectionleft{
	flex: 1;
}

 .sectiontext {
	color: white;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	gap: 50px;
	padding: 55px;
	height: 500px;
} 

.sectiontext h1{
	font-size: 40px;
	padding: 2px;
}

.sectionright{
	flex: 1;
}

.img-container{
    flex: 2;
	height: 200px;
	width: 200px;	
}
.nerd-image{
	width: 100%;
	height: 100%
}

.logo-img{
    height: 60px;
    width: 60px;
}

.navbar{
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    flex: 4;
	/* margin-right: 10px; */
	margin-left: 30px;
}

section.jp {
	width: 100%;
	display: grid;
	padding: 2;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

main{
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
	margin-top: 5px;
}

main .content{
    height: 50vh; 
    display: flex;
    flex-direction: column;
}

main .content p{
	font-size: 40px;
    margin-top: 20px;
}
.jp .content{
	/* border: 2px solid brown; */
	margin-bottom: 2rem;
	/* background-color: brown; */
	/* flex: 1; */
	/* height: 100%; */
	/* height: 60rem; */
	/* max-width: 30%; */
	display: flex;
	flex-direction: column;
	padding: 1rem;
} 
    
.jp .content .img-container{
	padding: 1rem;
	width: 100%;
	height: auto;
	border-radius: 15px;
}
    
.jp .content .img-container img{
	height: 100%;
	width: 100%;
	border-radius: 15px;
} 
    
.jp .content .text-container{
	background-color: black; 
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 7px;
	
    } 
    
.jp .content .text-container h1{
    font-size: 20px;
	padding: 7px;
    } 
    
.jp .content .text-container p{
        font-size: 20px;
        flex: 1;
        line-height: 2.3;
        font-family: Rubik sans-serif;
		padding: 5px;
    }
    
.jp .content .text-container button{
	margin-bottom: 30px;
	width: fit-content;
	padding: 15px;
	border-radius: 32px;
	cursor: pointer;
	color: blue;
	border: blue 2px solid;
}		

.student-img-container{
    flex: 3;
    display: flex;
} 

.student-img{
	flex: 1;
	height: 400px;
	width: 600px;
}
.student-img-container p{
    flex: 1;
}
.student-text{
    padding: 30px;
    background-color:white;
    flex: 2;
}

 .cohort{
    height: 100vh;
    background: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 10px;
    padding: 10px;
    width: 90vw;
    margin: auto;
} 
   
.cohort .content{
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.cohort .content .img-container{
    flex: 1;
}
.cohort .content .text-container{
    flex: 1;
    width: 100%;
	padding: 5;
}

.cohort .content .img-container img{
	height: 100%;
	width: 100%;
}

 .jp .content .text-container button{
    margin-bottom: 30px;
    width: fit-content;
    padding: 15px;
    border-radius: 32px;
    cursor: pointer;
    color: blue;
    border: blue 2px solid;
}  

@media screen and (width <= 850px) {
    section.jp{
        grid-template-columns: 1fr 1fr 1fr ;
    }

	.cohort{
        grid-template-columns: 1fr 1fr 1fr ;
    }
}

@media screen and (width <= 730px) {
    section.jp{
        grid-template-columns: 1fr 1fr ;
    }

	.cohort{
        grid-template-columns: 1fr 1fr ;
    }
}

@media screen and (width <= 600px) {
	.section-new{
		flex-direction: column;
	}
}

@media screen and (width <= 540px) {
	.navbar{
		display: none;
	}

	.material-icons{
		display: block;
	}
}

@media screen and (width <= 480px) {
    section.jp{
        grid-template-columns: 1fr ;
    }

	.cohort{
        grid-template-columns: 1fr ;
    }
}

